{% extends "base.twig" %}
{% block main %}
    <main class="whiteWrapper">
        <div class="contentWrapper">

            <div class="headingWrapper">
                <h1 class="mainHeading"> In Development ({{games|length}}) </h1>
                <div class="headerSep"></div>
            </div>

            {% if games|length == 0 %}
            <div class="emptyWrapper" style="background-image: url({{emptyImage}});">
                <div class="emptyBackground" ></div>
                <div class="emptyMessage">
                    <div class="subHeading"> There's nothing here yet! </div>
                </div>
            </div>
            {% else %}
            <div class="projectWrapper">
                {% for game in games %}
                    <a href="{{game.link}}" class="projectCard" style="background-image: url({{game.game_image}})">
                        <div class="title">
                            {{game.post_title}}
                        </div>
                        <div class="short">
                            {{game.game_short}}
                        </div>

                    </a>
                {% endfor %}
            </div>
            {% endif %}


            <div class="headingWrapper">
                <h1 class="mainHeading"> Planned Games ({{plannedGames|length}}) </h1>
                <div class="headerSep"></div>
            </div>
            {% if plannedGames|length == 0 %}
            <div class="emptyWrapper" style="background-image: url({{emptyImage}});">
                <div class="emptyBackground" ></div>
                <div class="emptyMessage">
                    <div class="subHeading"> There's nothing here yet! </div>
                </div>
            </div>
            {% else %}
            <div class="projectWrapper">
                {% for game in plannedGames %}
                    <a href="{{game.link}}" class="projectCard" style="background-image: url({{game.game_image}})">
                        <div class="title">
                            {{game.post_title}}
                        </div>
                        <div class="short">
                            {{game.game_short}}
                        </div>

                    </a>
                {% endfor %}
            </div>
            {% endif %}




            <div class="headingWrapper">
                <h1 class="mainHeading"> Released ({{doneGames|length}}) </h1>
                <div class="headerSep"></div>
            </div>
            {% if doneGames|length == 0 %}
            <div class="emptyWrapper" style="background-image: url({{emptyImage}});">
                <div class="emptyBackground" ></div>
                <div class="emptyMessage">
                    <div class="subHeading"> There's nothing here yet! </div>
                </div>
            </div>
            {% else %}

            {% endif %}





            <div class="headingWrapper">
                <h1 class="mainHeading"> Recent Posts </h1>
                <div class="headerSep"></div>
            </div>

            <div class="postWrapper">
                {% for post in posts %}
                {% include 'small-post.twig' %}
                {% endfor %}
                <a class="viewMore" href="./posts">
                    View All Posts
                </a>
            </div>
        </div>
    </main>
{% endblock %}