{% extends "base.twig" %}
{% block main %}
<main class="whiteWrapper">
    <div class="singlePostWrapper">
        <div class="post">
            <div class="postInformation">
                <a class="postTitle" href="{{post.link}}">{{post.title}}</a>
                <div class="postDate">
                    {{post.date}}
                </div>
            </div>
            <div class="postSep"></div>
            <div class="postContent">
                {{post.content}}
            </div>
            <a class="postButton" href="{{site.link}}"> Back </a>

        </div>
    </div>
</main>
{% endblock %}